.sticky-wrap {
    height: 600vh;
}
.sticky-hero {
    position: sticky;
    top: 0;
}
.main-section.hero {
    overflow: hidden;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}
.main-container {
    width: 100%;
    max-width: none;
    padding-left: 5vw;
    padding-right: 5vw; 
}

.hero-wrap {
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    display: flex;
    position: relative;
}
.hero-moving-title {
    grid-column-gap: 3vw;
    grid-row-gap: 3vw;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: -.75vw;
    display: flex;
    position: relative;
    overflow: visible; 
    /* padding-right: 5vw; */
}
@media (min-width: 1441px) {
    .hero-moving-title {
        padding-right: 5vw;
    }
}
.hero-title-wrap {
    grid-column-gap: 3vw;
    grid-row-gap: 3vw;
    color: #D1D1D1;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    overflow: hidden; 
}
.sticky-hero h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'SKTSansDisplayB';
    /* font-size: 160px; */
    font-size: 11vw;
    font-weight: 700;
    line-height: 18vw;
    white-space:nowrap;
}
.default-title {
    color: #000;
}
.hero-title-shade {
    grid-column-gap: 3vw;
    grid-row-gap: 3vw;
    color: #000;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    position: absolute;
    overflow: hidden;
}
/* 
.hero-title-shade h1 {
        채ㅣ
    color:transparent;
    background:linear-gradient(
        107.75deg,
        #462CE8 29.51%,
        #462CE8 44.48%,
        #3E27CF 53.51%,
        #3722B5 66.41%,
        #2F1D9C 78.68%
    );
    -webkit-background-clip:text;
    background-clip:text;
} */

.hero-moving-title {
    grid-column-gap: 5vw;
    grid-row-gap: 5vw;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: -.75vw;
    display: flex;
    position: relative;
    overflow: visible;
}

.hero-accent-wrap {
    flex-flow: column;
    /* margin-top: 2.5vw; */
    display: flex;
    max-width: 400px;
    min-width: 140px;
    max-height: 128px;
    min-height: 80px;
}
.hero-accent-wrap.shade {
    opacity: 0;
}
.line-bottom {
    background-color: #000;
    width: 17vw;
    height: .2vw;
    margin-left: 3.5vw;
    display: none;
}
.hero-accent-shape {
    background-color: #fff;
    border-radius: 10vw;
    justify-content: flex-end;
    align-items: center;
    padding: 1vw;
    display: flex;
    transition: 
        width .1s linear,
        height .1s linear,
        transform .2s linear,
        background-color .4s ease;
    /* overflow: hidden; */
}
.hero-accent-shape-img {
    width: 100px;
    height: 100px;
}

/* 쉼표 이미지 */
.hero-accent-shape::after{
    content: "";
    position: absolute;
    width: 60%;
    height: 60%;
    right: 13%;
    bottom: -31%;
    background: url("../img/comma.png") no-repeat center / contain;
    /* transform: translate(-50%, -50%) scale(1); */
    opacity: 0;

    transition:
        opacity .35s ease,
        transform .35s cubic-bezier(.16,1,.3,1);
}

/* 원이 된 후 */
.hero-accent-shape.comma::after{
    opacity: 1;
    /* transform: translate(-50%, -50%) scale(1); */
}

.hero-accent-shape.circle {
    background-color: #000;
    border-radius: 50%;
}
.hero-accent-rotate {
    animation: 20s linear infinite spin;
}

.accent-part.var-1,.accent-part.var-2,.accent-part.var-3,.accent-part.var-4 {
    height: 1vw
}

.hero-accent {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 7vw;
    height: 7vw;
    display: flex;
    position: relative;
    transform: none
}

.accent-part {
    position: absolute;
    background-color: #000;
}

.accent-part.var-1 {
    width: 100%;
    height: .75vw
}

.accent-part.var-2 {
    width: 100%;
    height: .75vw;
    transform: rotate(90deg)
}

.accent-part.var-3 {
    width: 100%;
    height: .75vw;
    transform: rotate(45deg)
}

.accent-part.var-4 {
    width: 100%;
    height: .75vw;
    transform: rotate(-45deg)
}

.hero-accent-shape.circle .accent-part {
    background-color: #fff;
}


@keyframes spin {
    0% {
        transform: rotate(360deg)
    }

    to {
        transform: rotate(0)
    }
}

.hero-title-wrap > h1,
.hero-title-wrap .hero-accent-wrap{
    opacity:0;
    transform:translateY(50px);
    transition:
        opacity .8s ease,
        transform .8s cubic-bezier(.16,1,.3,1);
}

.hero-title-wrap.show > h1,
.hero-title-wrap.show .hero-accent-wrap{
    opacity:1;
    transform:translateY(0);
}

.hero-title-wrap.show > h1:nth-of-type(1){
    transition-delay:.1s;
}

.hero-title-wrap.show .hero-accent-wrap{
    transition-delay:.3s;
}

.hero-title-wrap.show > h1:nth-of-type(2){
    transition-delay:.5s;
}

.hero-title-wrap.show > h1:nth-of-type(3){
    transition-delay:.7s;
}


.hero-desc-wrap{
    position: absolute;
    right: -100%;
    bottom: 18vh;

    transform: translateX(30px);
    transition:
        opacity .6s ease,
        transform .6s ease,
        right 1s ease;
}

.hero-desc-wrap.show{
    opacity: 1;
    transform: translateX(0);
    right: 0;
}
.sub-tit {
    font-family: 'SKTSansDisplayB';
    font-weight: 700;
    font-size: 60px;
    font-size: 5vw;
    line-height: 1.8;
    color: #000;
}