

.hero-desc-wrap{
    position: absolute;
    right: -100%;
    bottom: 18vh;

    transform: translateX(30px);
    transition:
        opacity .6s ease,
        transform .6s ease,
        right 1s ease;
}

.hero-desc-wrap.show{
    opacity: 1;
    transform: translateX(0);
    right: 0;
}
.sub-tit {
    font-family: 'SKTSansDisplayB';
    font-weight: 700;
    font-size: 60px;
    font-size: 5vw;
    line-height: 1.8;
    color: #000;
}

.sub-tit-wrap {
    min-height:100vh;
    display: flex;
    flex-direction: column;
    /* padding: 241px 0; */
    text-align: center;
    position: relative;
}
.sub-tit-text {
    font-family: 'SKTSansDisplayB';
    font-weight: bold;
    font-size: 60px;
    line-height: 1.7;
    color: #9b9b9b;

}
.sub-tit-text:first-child {
    padding-top: 241px;
}
.sub-tit-inner.color {
    position:absolute;
    left:0;
    top:0;
    /* transform: translate(-50%, -50%); */
    width:100%;
}
.sub-tit-inner.color .sub-tit-text{
    color:transparent;
    background: #303030;
    -webkit-background-clip:text;

    clip-path:inset(0 100% 0 0);
    /* transition:clip-path 2s cubic-bezier(.16,1,.3,1); */
}

.sub-tit-inner2 .sub-tit-text {
    color: #303030;
}
.sub-tit-inner2 .sub-tit-text img {
    width: 70px;
    height: 70px;
    vertical-align: middle;
    opacity: 0;
}
.sub-tit-inner2 .sub-tit-text img:not(:first-child) {
    margin-left: -30px;
}
.floating-img {
    width: 70px;
    height: 70px;
}

.target-img{
    opacity:0;
}

.fly-img{
    width:120px;
    position:fixed;
    z-index:999;
    pointer-events:none;
    will-change:transform;
}